<div class="summary-title">
  <h1>
    <%= @empire.name %> Summary Screen
  </h1>
</div>

<div class="summary-totals">
  <h2>
    Treasury: <%= @empire.money %>
    Granary: <%= @empire.food %>
    Research: <%= @empire.science %>
  </h2>
</div>

<div class="debug-tools">
  <%= form_tag update_empire_path do %>
    <div><%= submit_tag 'Add 100 Money' %></div>
    <div><%= submit_tag 'Add 100 Food' %></div>
    <div><%= submit_tag 'Add 100 Science' %></div>
  <% end %>
</div>

<h3>Explore a nearby system:</h3>
<div class="explore-container">
  <% if $explorationMessage != "" %>
    <%= "*** #{$explorationMessage} ***" %>
  <% end %>
  <%= form_tag update_empire_path do %>
    <div><%= submit_tag 'Explore' %></div>
  <% end %>
</div>


<h3>Choose an explored system to colonize:</h3>
<div class="colonize-container">
  <%= form_tag update_empire_path %>
    <div class="colonize-dropdown">
      <%= collection_select :name, :id, System.where(:explored => [true], :colonized => [false]).all, :id, :name %>
      <%= submit_tag 'Colonize' %>
    </div>
</div>
